@page
@model JavaTechPages.Pages.Products.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";   
}
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');    
    </script>
}
<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-page="Create">Create New</a>    
    </p>

    <div class="row">
        @foreach (var item in Model.Product)
        {
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@("~/Image/"+ item.ProductImage.ImageName)" asp-append-version="true"width="200px" height="250px">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Quantidade @item.Quantity</p>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-page="./Distribute" asp-route-id="@item.Id">Distribute</a>
                        @*<a asp-controller="Product_User" asp-action="Create" asp-route-id="@item.ProductId" >Distribute</a>*@
                        
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model.Product)
        {
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@("~/Image/"+ item.ProductImage.ImageName)" asp-append-version="true"width="200px" height="250px">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Quantidade @item.Quantity</p>
                        
                    </div>
                </div>
            </div>
        }
    </div>   
}

