@page
@model JavaTechPages.Pages.Shippings.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');    
    </script>
}

<h1>Index</h1>

<p>
    <form method="post">
        <input type="submit" value="Create shipping" class="btn btn-primary" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shipping[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping[0].dateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping[0].Finished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shipping in Model.Shipping)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => shipping.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shipping.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shipping.dateTime)
                </td>

                @if (@shipping.Finished == true)
                {
                    <td>
                        Closed
                    </td>
                }
                else
                {
                    <td>
                        Open
                    </td>
                }

                <td>
                    @*|<a asp-page="./Edit" asp-route-id="@shipping.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@shipping.Id">Details</a> |*@
                    <a type="button" class="btn btn-warning btn-sm" asp-page="./Delete" asp-route-id="@shipping.Id">Details</a>
                    @if (shipping.Finished == false)
                    {
                        <a type="button" class="btn btn-success btn-sm" asp-page="../ShippingProducts/Create" asp-route-id="@shipping.Id">Add Products</a>
                    }
                    else
                    {
                         <button type="submit" class="btn btn-success btn-sm"  asp-page="../ShippingProducts/Create" asp-route-id="@shipping.Id" disabled>Add Products</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
